<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289147563044-qc2tc21k55bq3mbeo72khe64r005uen4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289147563044-qc2tc21k55bq3mbeo72khe64r005uen4</string>
	<key>API_KEY</key>
	<string>AIzaSyDctv-m8tI56m_rENW24WBK0kmshkMVpFE</string>
	<key>GCM_SENDER_ID</key>
	<string>289147563044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tokyo.imagine.DateShare</string>
	<key>PROJECT_ID</key>
	<string>dateshare-hatsu</string>
	<key>STORAGE_BUCKET</key>
	<string>dateshare-hatsu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289147563044:ios:d4a4c5e6935a3d28</string>
	<key>DATABASE_URL</key>
	<string>https://dateshare-hatsu.firebaseio.com</string>
</dict>
</plist>